[Desktop Entry]
Version=3.0.4
Type=Application

Name=multiE Additives
Comment=Food Additives Handbook. Find out the “what” you eat by buying goods in markets.
Categories=Utility;

Icon=io.github.r_sergii.multiEAdditivesNext
Exec=multieadditivesnext
Terminal=false
StartupWMClass=multieadditivesnext

Keywords=Food;EAdditives;Health;
StartupNotify=true
X-Purism-FormFactor=Workstation;
